\{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | About{% endblock %}
{% block body %}
    <div class="admin-panel">
        <div class="admin-pills">
            <div class="admin-pill">
                <p>Orders</p>
            </div>
            <div class="admin-pill">
                <p>Products</p>
            </div>
            <div class="admin-pill">

            </div>
        </div>
    </div>
{% endblock %}