{% extends 'base.html.twig' %}
{% block title %}{{ parent() }} | Categories{% endblock %}
{% block body %}
    <div class="home-page-wrap">
        <img src="img/chef.png" alt="Homepage">
        <div class="hero-text">
            <h1>Order now!</h1>
            <p>Welcome to Pizzazzo, where passion and quality come together to deliver a truly authentic and delicious dining experience. Our skilled chefs use only the freshest and finest ingredients to craft our mouth-watering pizzas, each one made with love and care. From classic favorites to unique and creative creations, we have something to satisfy every taste bud. Come savor the flavors of Italy in a warm and inviting atmosphere, and let us transport you to a world of flavor and delight. Whether you're looking for a cozy night in or a lively night out, we are here to serve you and make your dining experience unforgettable.</p>
            <a href="/products">=></a>
        </div>
    </div>
{% endblock %}